@model IEnumerable<AgentMarket.Models.Product>
@{
    ViewBag.Title = "Home Page";
    string path = Request.Url.GetLeftPart(UriPartial.Authority) + "/AgentResources/Uploads/";
    var Product = Model.FirstOrDefault(m => m.FeaturedDeal == true);

}
<!-- Loader -->

<div class="loader">
    <div class="loader-img"></div>
</div>
<!-- Second content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class=" col-md-12">
                        <h3><strong>Featured Offer</strong></h3>
                        <img src="@path@System.IO.Path.GetFileName(Product.Image2.TrimStart())" class="fadeInDownBig" />
                    </div>

                    <div class=" col-md-12">
                        <h1><strong>@Html.DisplayFor(model => Product.ProductName)</strong></h1>
                        <h3>@Html.DisplayFor(modelItem => Product.DescriptionHook1)</h3>
                        <div>@Html.DisplayFor(modelItem => Product.MainDescription)</div>

                        <div class="top-big-link wow fadeInUp">
                            @*<a class="btn btn-link-1 scroll-link" href="#pricing">@Html.DisplayFor(modelItem => Product.SalePrice)</a>*@
                            <a class="btn btn-lg btn-danger" href="#features">Buy Now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- More features -->
<div class="more-features-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 more-features section-description wow fadeIn">
                <h2>@Html.DisplayFor(modelItem => Product.BulletPoint1)</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 more-features-box wow fadeInLeft">
                <img src="@path@System.IO.Path.GetFileName(Product.Image.TrimStart())" alt="">
            </div>
            <div class="col-sm-7 more-features-box wow fadeInUp">
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                        <span aria-hidden="true" class="typcn typcn-attachment"></span>
                    </div>
                    <h3>@Html.DisplayFor(modelItem => Product.BulletPoint2)</h3>
                    <div class="more-features-box-text-description">
                    </div>
                </div>
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                        <span aria-hidden="true" class="typcn typcn-user"></span>
                    </div>
                    <h3> @Html.DisplayFor(modelItem => Product.DescriptionHook1)</h3>
                    <div class="more-features-box-text-description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Always beautiful -->
<div class="always-beautiful-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                <h2>@Html.DisplayFor(modelItem => Product.BulletPoint1)</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                <div class="always-beautiful-box-text always-beautiful-box-text-left">
                    <h3>@Html.DisplayFor(modelItem => Product.BulletPoint3)</h3>
                    <p class="medium-paragraph">
                        @Html.DisplayFor(modelItem => Product.BulletPoint4)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => Product.BulletPoint5)
                    </p>
                </div>
            </div>
            <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                <img src="@path@System.IO.Path.GetFileName(Product.Image.TrimStart())" alt="">
            </div>
        </div>
    </div>
</div>


<!-- How it works -->
<div class="how-it-works-container section-container section-container-image-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 how-it-works section-description wow fadeIn">
                <h2>Ready in 4 steps</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                <div class="how-it-works-box-icon">
                    <span aria-hidden="true" class="typcn typcn-pencil"></span>
                    <span aria-hidden="true" class="how-it-works-step">1</span>
                </div>
                <h3>Sign up</h3>
                <p>@Html.DisplayFor(modelItem => Product.BulletPoint3)</p>
            </div>
            <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                <div class="how-it-works-box-icon">
                    <span aria-hidden="true" class="typcn typcn-ticket"></span>
                    <span aria-hidden="true" class="how-it-works-step">2</span>
                </div>
                <h3>Make payment</h3>
                <p>@Html.DisplayFor(modelItem => Product.BulletPoint4).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                <div class="how-it-works-box-icon">
                    <span aria-hidden="true" class="typcn typcn-key-outline"></span>
                    <span aria-hidden="true" class="how-it-works-step">3</span>
                </div>
                <h3>Log in</h3>
                <p>@Html.DisplayFor(modelItem => Product.BulletPoint5).</p>
            </div>
            <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                <div class="how-it-works-box-icon">
                    <span aria-hidden="true" class="typcn typcn-thumbs-up"></span>
                    <span aria-hidden="true" class="how-it-works-step">4</span>
                </div>
                <h3>Start Calling</h3>
                <p>@Html.DisplayFor(modelItem => Product.BulletPoint6)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1 scroll-link" href="#pricing">Our prices</a>
            </div>
        </div>
    </div>
</div>

<!-- Pricing -->
@*<div class="pricing-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 pricing section-description wow fadeIn">
                    <h2>Pricing</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 pricing-box wow fadeInUp">
                    <div class="pricing-box-inner">
                        <div class="pricing-box-price"><span>$ </span><strong>12</strong><span> / month</span></div>
                        <h3>Basic</h3>
                        <h4>Freelancer</h4>
                        <div class="pricing-box-features">
                            <ul>
                                <li>1000 video lessons</li>
                                <li>Normal speed</li>
                                <li>500 solved exercises</li>
                                <li>300MB to save your code</li>
                                <li>750 hours of support</li>
                            </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                            <a class="btn btn-link-1" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pricing-box pricing-box-best wow fadeInDown">
                    <div class="pricing-box-inner">
                        <div class="pricing-box-price">
                            <span>$ </span><strong>35</strong><span> / month</span>
                            <div class="pricing-box-icon">
                                <span aria-hidden="true" class="typcn typcn-star"></span>
                            </div>
                        </div>
                        <h3>Ultimate</h3>
                        <h4>Best value</h4>
                        <div class="pricing-box-features">
                            <ul>
                                <li>3000 video lessons</li>
                                <li>2x speed</li>
                                <li>2000 solved exercises</li>
                                <li>500MB to save your code</li>
                                <li>900 hours of support</li>
                            </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                            <a class="btn btn-link-1" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pricing-box wow fadeInUp">
                    <div class="pricing-box-inner">
                        <div class="pricing-box-price"><span>$ </span><strong>75</strong><span> / month</span></div>
                        <h3>Platinum</h3>
                        <h4>Big company</h4>
                        <div class="pricing-box-features">
                            <ul>
                                <li>5000 video lessons</li>
                                <li>4x speed</li>
                                <li>4000 solved exercises</li>
                                <li>900MB to save your code</li>
                                <li>Unlimited hours of support</li>
                            </ul>
                        </div>
                        <div class="pricing-box-sign-up">
                            <a class="btn btn-link-1" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- Call to action -->
<div class="call-to-action-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
                <h2>Call to action</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1 scroll-link" href="#pricing">Choose your package</a>
            </div>
        </div>
    </div>
</div>

<!-- About us -->
@*<div class="about-us-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-us section-description wow fadeIn">
                    <h2>About us</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 about-us-box wow fadeInUp">
                    <div class="about-us-photo">
                        <img src="assets/img/about/1.jpg" alt="" data-at2x="assets/img/about/1.jpg">
                        <div class="about-us-role">Marketing</div>
                    </div>
                    <h3>John Doe</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 about-us-box wow fadeInDown">
                    <div class="about-us-photo">
                        <img src="assets/img/about/2.jpg" alt="" data-at2x="assets/img/about/2.jpg">
                        <div class="about-us-role">Designer</div>
                    </div>
                    <h3>Tim Brown</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 about-us-box wow fadeInUp">
                    <div class="about-us-photo">
                        <img src="assets/img/about/3.jpg" alt="" data-at2x="assets/img/about/3.jpg">
                        <div class="about-us-role">Developer</div>
                    </div>
                    <h3>Sarah Red</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    <div class="about-us-social">
                        <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                        <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                        <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- Testimonials -->
<div class="testimonials-container section-container section-container-image-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 testimonials section-description wow fadeIn">
                <h2>Testimonials</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/1.jpg" alt="" data-at2x="assets/img/testimonials/1.jpg">
                                <div class="testimonial-icon">
                                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/2.jpg" alt="" data-at2x="assets/img/testimonials/2.jpg">
                                <div class="testimonial-icon">
                                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
                                <div class="testimonial-icon">
                                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/4.jpg" alt="" data-at2x="assets/img/testimonials/4.jpg">
                                <div class="testimonial-icon">
                                    <span aria-hidden="true" class="typcn typcn-pin"></span>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-about wow fadeInUp">
                <h3>About Us</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
                </p>
                <p>
                    <a class="scroll-link" href="#about-us">Learn More</a>
                </p>
            </div>
            <div class="col-sm-4 footer-contact-info wow fadeInDown">
                <h3>Contact Info</h3>
                <p><i class="typcn typcn-map"></i> Via Rossini 10, 10136 Turin Italy</p>
                <p><i class="typcn typcn-phone"></i> Phone: (0039) 333 12 68 347</p>
                <p><i class="typcn typcn-mail"></i> Email: <a href="mailto:contact.azmind@gmail.com">contact.azmind@gmail.com</a></p>
                <p><i class="typcn typcn-social-skype-outline"></i> Skype: marco_online</p>
            </div>
            <div class="col-sm-4 footer-social wow fadeInUp">
                <h3>We're Social</h3>
                <p>
                    <a href="#"><i class="typcn typcn-social-facebook"></i></a>
                    <a href="#"><i class="typcn typcn-social-instagram"></i></a>
                    <a href="#"><i class="typcn typcn-social-twitter"></i></a>
                    <a href="#"><i class="typcn typcn-social-youtube"></i></a>
                    <a href="#"><i class="typcn typcn-social-google-plus"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-6 footer-copyright">
                    &copy; Marco Bootstrap Template by <a href="http://azmind.com">AZMIND</a>
                </div>*@
            <div>

                <a class="scroll-link" href="#top-content">Top</a>
                <a class="scroll-link" href="#features">Features</a>
                <a class="scroll-link" href="#pricing">Price</a>
                <a href="#">Terms</a>
                <a href="#">Privacy</a>

            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $(".delete-file").click(function (e) {
            e.preventDefault();
            var temp = $(this).attr("href");
            $.ajax({
                type: "POST",
                url: "/Upload/Delete",
                data: { filename: temp }
            }).success(function () {
                location.reload();
            });
        });
    });
</script>
