@model AgentMarket.Models.CSSMappingEntry

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CSSMappingEntry</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CSSMapping_Id, "CSSMapping_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CSSMapping_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.CSSMapping_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DynamicMenuItem_Id, "DynamicMenuItem_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DynamicMenuItem_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DynamicMenuItem_Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
